.container.mt-4
  .card.shadow-lg.rounded-3
    .card-body.p-4
      %h5.card-title.text-primary.text-center.mb-4 Listing Transactions

      / Filtering Form
      = search_form_for @q, url: transactions_path, method: :get, class: "mb-4" do |f|
        .row.g-3
          .col-md-4
            = f.label :customer_id_eq, "Customer", class: "form-label"
            = f.collection_select :customer_id_eq, Customer.all, :id, :name, { include_blank: "All Customers" }, class: "form-select"

          .col-md-4
            = f.label :created_at_gteq, "From Date", class: "form-label"
            = f.date_field :created_at_gteq, class: "form-control"

          .col-md-4
            = f.label :created_at_lteq, "To Date", class: "form-label"
            = f.date_field :created_at_lteq, class: "form-control"

        .text-center.mt-3
          = f.submit "Filter", class: "btn btn-primary"
          = link_to "Reset", transactions_path, class: "btn btn-outline-secondary"

      / Transactions Table
      .table-responsive
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th User
              %th Customer
              %th Amount
              %th Actions

          %tbody
            - @transactions.each do |transaction|
              %tr
                %td= transaction.user.name
                %td= transaction.customer.name
                %td= number_to_currency(transaction.amount)
                %td
                  = link_to 'Show', transaction, class: 'btn btn-outline-info btn-sm'
                  = link_to 'Edit', edit_transaction_path(transaction), class: 'btn btn-outline-warning btn-sm mx-2'
                  = link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'

      / Pagination
      .d-flex.justify-content-center.mt-3
        = pagy_bootstrap_nav(@pagy)

  .mt-3.text-center
    = link_to 'New Transaction', new_transaction_path, class: 'btn btn-success'
